.navbar
{
    position: sticky;
    top: 0;
    height: 64px;
    background-color: #fff;
    border-bottom: 1px solid var(--border);
    display: flex;
    align-items: center;
    padding: 0 28px;
    justify-content: flex-end;
    z-index: 90;
    flex-shrink: 0;
    margin-bottom: 0 !important;
}


.notification-btn
{
    width: 36px;
    height: 36px;
    border-radius: var(--radius-medium);
    border: 2px solid var(--border);
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-2);
    position: relative;
    transition: all .15s;
    
}


.notification-btn:hover
{
    background-color: var(--green-50);
    border-color: var(--green-200);
    color: var(--green-700);
}


.notification-wrapper
{
    position: relative;
}

.notification-dot
{
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #ef4444;
    border: 2px solid #fff;
    top: 6px;
    right: 6px;
    pointer-events: none;
}

.notification-panel {
    position: absolute;
    top: calc(100% + 10px);
    right: 0px;
    width: 340px;
    background: #fff;
    border: 1px solid var(--border);
    border-radius: var(--radius-medium);
    z-index: 500;
    overflow: hidden;
    animation: modal-in .18s ease;
}

.notification-panel-head
{
    padding: 14px 18px 10px;
    border-bottom: 1px solid var(--border);
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.notification-panel-head span
{
    font-weight: 500;
    font-size: 13px;
    color: var(--text-);
}

.notification-panel-head button
{
    font-size: 12px;
    color: var(--green-700);
    background: none;
    border: none;
    cursor: pointer;
    font-weight: 600;
}

.notification-list
{
    max-height: 400px;
    overflow-y: auto;
}

.notifications-item
{
    display: flex;
    align-items: flex-start;
    gap: 12px;
    padding: 13px 18px;
    border-bottom: 1px solid var(--border);
    cursor: pointer;
    transition: background-color .12s ease;
}


.notifications-item:last-child
{
    border-bottom: none
}

.notifications-item:hover
{
    background-color: var(--green-50);
}

.notifications-item.unread
{
    background-color: #f8fffe;
   
}

.notifications-item.unread .notification-content
{
     font-weight: 700 !important;
}

.notification-content
{
    flex: 1;
    display: block;
    font-size: 13px;
    font-weight: 400;
    color: var(--text);
    margin-bottom: 2px;
}


.notification-unread-dot
{
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: var(--green-500);
    flex-shrink: 0;
    margin-top: 5px;
}


.notification-empty
{
    padding: 32px 20px;
    text-align: center;
    color: var(--text-3);
    font-size: 13px
}
